.txtd{
    margin:0.4rem;
    font-family:"Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
    color:#660066 !important;
    font-size:1.2rem !important;
    margin-left:1%;
}
.txta{
    margin:0.4rem;
    font-family:"Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
    color:#660066 !important;
    font-size:1.8rem !important;
   
}