#listContainer{
align-items: initial;
}

.txt1{
    margin:0.4rem;
    font-family:"Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
    color:#660066;
    font-size:2rem !important;
   
}