/* .ms-5{
    margin-left: 28rem !important;
    margin-right: 5rem !important;
   
} */
.btn-outline-warning{
    font-size:1rem !important;
    font-weight:bold;
}
.txt{
    font-family:"Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;;
    color:#660066;
    font-size:1.1rem;
  
   margin-top: 0.5rem;
   margin-left: 1rem !important;
   
}
.boton{
    
    margin-bottom: 1rem !important;
    margin-left: 3%;
    margin-top:1%;
}

.count{
    margin-top:1%;
    margin-left: 3%;
}